.NobelGameFrame{
	width : 410px ;
	height : 410px ;
	padding : 5px ;
	border : solid 1px #000 ;
	font-size : 14px ;
	font-family : "Arial" , "Helvetica" , "ヒラギノ角ゴ" , "メイリオ" , "ＭＳ Ｐ ゴシック" , "IPA モナーゴシック" , "VL Pゴシック" , sans-serif ;
	background-color : white ;
	background-repeat : none ;
	color : black ;
	cursor : default ;
}
.NobelGameFrame .Name{
	position : relative ;
	top : 280px ;
	border : solid 1px #555 ;
	display : none ;
	padding : 2px ;
	background : #fff ;
}
.NobelGameFrame .Content{
	background : #fff ;
}